.list_wrapper{
    position: relative;
    margin-top: 5px;
    z-index: 9;
    .header{
        margin-bottom: 10px;
        h1{
            font-size: 28px;
            font-weight: 700;
        }
    }
    
    .movies-list{
        overflow-y: scroll;
        padding-top: 25px;
        padding-right: 40px;
        position: relative;
        max-height: 700px;
        .movie:not(:last-child){
            margin-bottom: 29px;
        }

        // Scroll bar
        &::-webkit-scrollbar {
            width: 5px;
        }
        &::-webkit-scrollbar-track {
            background: #78B4DF;
        }
        &::-webkit-scrollbar-thumb {
            background: #fff;
            border-radius: 20px;
        }

    }

}


// Responsive 1024px
@media (max-width: 1024px){
    .list_wrapper{
        background: rgba( #78B4DF, .4);
        border: 1px solid #91c6ec94;
        border-radius: 5px;
        padding: 22px;
        backdrop-filter: blur(8px);
        position: absolute;
        right: 0;
        margin-right: -170px;
        transition: margin-right .2s ease 0s;
        &:hover{
            margin-right: 0;
        }
    }
}

// Responsive 625px
@media (max-width: 625px){
    .list_wrapper{
        margin-right: -280px;
    }
}