.list_wrapper{
    position: relative;
    margin-top: 5px;
    z-index: 9;
    .header{
        margin-bottom: 10px;
        h1{
            font-size: 28px;
            font-weight: 700;
        }
    }
    
    .movies-list{
        overflow-y: scroll;
        padding-top: 25px;
        padding-right: 40px;
        position: relative;
        max-height: 700px;
        .movie:not(:last-child){
            margin-bottom: 29px;
        }

        // Scroll bar
        &::-webkit-scrollbar {
            width: 5px;
        }
        &::-webkit-scrollbar-track {
            background: #78B4DF;
        }
        &::-webkit-scrollbar-thumb {
            background: #fff;
            border-radius: 20px;
        }

    }

}


// Responsive 1024px
@media (max-width: 1024px){
    .list_wrapper{
        display: flex;
        flex-direction: column;
        width: 100%;
        .header{
            h1{
                font-size: 22px;
            }
        }
        .movies-list{
            display: flex;
            overflow-y: auto;
            overflow-x: scroll;
            .movie:not(:last-child){
                margin-right: 25px;
            }
            .movie{
                margin-bottom: 0;
                flex: none;
            }
            &::-webkit-scrollbar-track{
                border-radius: 10px;
            }
        }
    }
}