header.header_wrapper{
    display: flex;
    width: 100%;
    .container{
        width: 100%;
        justify-content: space-between;
        padding: 39px 25px;
        max-width: 1700px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        .logo{

        }
        .menu{
            display: flex;
            align-items: center;
            justify-content: center;
            &_icon{
                cursor: pointer;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 27px;
                .line{
                    background: #fff;
                    width: 46.21px;
                    height: 4px;
                    border-radius: 5px;
                    &:last-child{
                        width: 19.26px;
                        margin-left: auto;
                    }
                }
            }
        }
    }
}


// Responsive 1024px
@media (max-width: 1024px){
    .header_wrapper{
        margin-bottom: 20px;
        .container{
            padding: 18px 25px!important;
            .logo{ 
                img{
                    width: 80%;
                }
            }
            .menu{
                &_icon{
                    height: 22px!important;
                    span{
                        width: 34px!important;
                        height: 3px!important;
                        &:last-child{
                            width: 22px!important;
                        }
                    }
                }
            }
        }
    }
}