// Resets

*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none
} 
 
 ul li{
     list-style: none
}

a,p,span,h1,h2,h3,h4,h5,h6,small,strong{
    color: #fff;
}

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200&display=swap');

body{
    // padding-bottom: 200px;
    font-family: 'Montserrat', sans-serif;
    background: #1F1F39;
    padding-bottom: 65px;
}

