.background_wrapper{
    background-size: cover;
    display: block;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    img{
        width: 100%;
    }


    // Overlay left
    &::before{
        content: '';
        max-width: 1199px;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, #0D162E -35%, rgba(#0D162E, 0));
        position: absolute;
        top: 0;
        left: 0;
    }
}


// Responsive 1024px
@media (max-width: 1024px){
    .background_wrapper{
        // Overlay bottom
        &::after{
            content: '';
            width: 100%;
            position: absolute;
            left: 0;
            bottom: 0;
            height: 200px;
            background: linear-gradient(to bottom, transparent, #1F1F39 90%);
        }
    }
}

